body{
    width: 650px;
    margin: 0, 15px;
padding: 100PX;
text-align: justify ;
font-family: verdana;

}
img{
float: left;
    margin: 0 15PX 0;
    
}
H1{
    text-align: left;
font-size: 20PX;

}
p{
    text-align: justify;
}
ol .bold::marker{
    font-weight: bold;

}

@media only screen and (max-width: 600px) {
    body {
      background-color: red;
    }
  }